
html{
  min-height: 100%;
  height: 100%;
}
body{
  height: 100%;
  min-height: 100%;
  padding: 0;
  background-image: url('/images/background.png');
  text-align: center;
}
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div#time{
  text-align: center;
  font-size: 60px;
  font-family: eucrosiapc;
  color: #663300;
  background-color: #fff;
  padding: 20%;
  margin: 10px 0;
}

div#fotter
{
  position: fixed;
  bottom: 0;
  background-color: #fff;
  padding: 20px;
  width: 100%;
}
img.icon
{
  margin:0;
  width: 72px;
}
img
{
  margin: 30px;
}